@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.particle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../../public/coracao.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  animation: move 1s ease-out forwards; /* Animação rápida para as partículas */
}

@keyframes move {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)); /* Movimentação aleatória */
    opacity: 0; /* As partículas desaparecerão */
  }
}
